/* COLOURS FROM ATOM.IO 
Blue - #659CC8
Yellow - #DCA032
Red - #C13F20
Green - #78AE9F
Orange - #D36E2D
Brown - #584B4F
Dark-Grey - #343436
Light Biege - #EFEAE0
Biege - #EFD9B9
*/

/* Blue/Yellow colour scheme
Blue - background-color: #2F4858;
White Text - color: #FCFCFC;
Light blue (button) - background-color: #86BBD8;
Blue (button hover) - background-color: #33658A;
Yellow (timer) - color: #F6AE2D;
*/

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #343436;
    
}

h1 {
    color: #EFEAE0;
    padding-left: 3vw;
    font-size: 3vw;
}

#container {
    height: 100%;
    width: 100%;
}

#body {
    position: relative;
    height: 80%;
    width: 100%;
}

#settings {
    margin: auto;
    width: 50%;
    height: 3vw;
    text-align: center;
}

#settings button {
    background-color: #D36E2D;
    color: #EFEAE0;
    border: none;
    border-radius: 1vw;
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
}

#settings button:hover {
    /* background-color: #C13F20; */
    background-color: #C13F20;
    cursor: pointer;
}

#timer {
    margin: auto;
    width: 100%;
    height: 25vw;
    text-align: center;
}

#time {
    display: inline-block;
    margin: auto;
    color: #DCA032;
    font-weight: bold;
    font-size: 6vw;
}

#controls {
    margin: auto;
    width: 50%;
    height: 3vw;
    text-align: center;
}

#controls button {
    background-color: #C13F20;
    color: #EFEAE0;
    border: none;
    border-radius: 1vw;
    padding: 1vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5vw;
    font-weight: bold;
}

#controls button:hover {
    background-color: rgb(155, 52, 26);
    cursor: pointer;
}